<div class="footer">
    <div class="left">
        <div class="row1">
            <h5 class="title">Kaar Technologies</h5>
            <h5 class="title">Company</h5>
            <h5 class="title">Service</h5>
        </div>
        <div class="row2">
            <img src="assets/Logo.png" alt="logo" class="logo">
            <div class="info">
                <p class="info1">About kaar Tech</p>
                <p class="info1">View Products</p>
            </div>
        </div>
        <div class="row3">
            <p class="info2">Contact Us</p>
            <p class="info2">Check Out</p>
        </div>
    </div>
    <div class="right">
        <p class="rcontent">
            “ Kaar Tech is the World’s Best Pure-Play SAP Digital Transformation Consulting and Services Partner driven by 1000+ Specialized SAP Consultants and 5000+ Man-Years of SAP Expertise gained through 2000+ projects for 350+ customers across the globe. “
        </p>
    </div>
    <hr class="divider">
    <div class="down">
        <p class="disclaimer">
            Copyright © 2022 Kaar Tech, All Rights Reserved  Privacy Policy
        </p>
        <div class="icons">
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-youtube"></i>
        </div>
    </div>
</div>