.footer {
    position: absolute;
    width: 100%;
    height: 310px;
    left: 0px;
    background: #38297A;
}

.left,
.right {
    vertical-align: top;
    display: inline-block;
    width: 49.5%;
    // border: 1px solid yellow;
    height: 14rem;
    padding-top: 50px;
    padding-left: 50px;
}

.down {
    width: 99%;
    // border: 1px solid yellow;
    height: 4rem;
}

.divider {
    color: white;
    // height: 1rem;
    opacity: 1;
    margin: 0;
    width: 250px;
    margin: auto;
}

.row1 {
    display: block;
    margin-left: 110px;
}

.row2 {
    display: block;
    margin-left: 50px;
}

.row3 {

    margin-left: 350px;
    padding-left: 20px;
}

.title {
    padding-right: 100px;
    color: white;
    display: inline;
}

.info {
    display: inline;
    margin-left: 150px;
}

.info1 {
    // margin-top: -40px;
    padding-right: 70px;
    color: white;
    display: inline;
}

.info2 {
    padding-right: 110px;
    color: white;
    display: inline;
}

.logo {
    margin-left: 20px;
    margin-top: 20px;
    display: inline;
    width: 150px;
    height: 98px;
    left: 82px;
    top: 1463px;
}

.rcontent {
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    width: 562px;
    height: 133px;
}

.disclaimer {
    padding-top:25px;
    height: 16px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    line-height: 16px;
}
.icons{
    float: right;
    margin-right:40px;
}
.fa-brands{
    color: white;
    margin:0 15px;
}